VITE_SUPABASE_URL=https://bfiuypermhgyegnufvfj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmaXV5cGVybWhneWVnbnVmdmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxOTc0NzUsImV4cCI6MjA5MDc3MzQ3NX0.xTKhzWn5V3F9AZrVTt3-tzNL005QgIXCsxseupDd6x8

# Google Drive Integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VITE_GOOGLE_CLIENT_ID=
